# https://direnv.net/man/direnv-stdlib.1.html

# use python layout with python3.7
layout python python3.7

# install latest pip
python -m pip install --upgrade pip

# install project in editable mode
python -m pip install --editable '.[dev]'

# source user envrc if there is one
source_env_if_exists .envrc.user
